.folder {
	background-color: #80ced6;
    border: 5px solid #d5f4e6;
    border-radius: 2px;
    margin: .75rem;
    position: relative;
    height: 275px;
    max-width: 21.875rem;
    min-width: 18rem;
    width: 100%;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    transition: box-shadow 0.1s ease-in-out;
    text-align: left;

}

.folder: hover{
	box-shadow: 0 12px 24px #999, 0 12px 24px #999;
    height: 275px;
    max-width: 21.875rem;
    min-width: 18rem;
    width: 100%;
}

.folder-box {
	padding: .5rem;
	position: relative;
	box-shadow: rgba(0,0,0,.24)
}

