.upload-img-form {
    text-align: left;
}

.image-input {
    border: 3px solid #9fbec9;
    padding: 5px;
    cursor: pointer;
}

.btn {
    margin: 5px;
}

.hand-gesture-img {
    width: 20%;
    height: 20%;
}